body{

margin:0;
font-family:Arial;
background:linear-gradient(180deg,#8e2de2,#1b0033);
color:white;

}

.container{

max-width:900px;
margin:auto;
padding:20px;

}

.header{

display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;

}

.profile{

display:flex;
align-items:center;
gap:10px;

}

.avatar{

width:45px;
height:45px;
border-radius:50%;
background:orange;
display:flex;
align-items:center;
justify-content:center;
font-size:20px;

}

.name{

font-weight:bold;

}

.sub{

font-size:12px;
opacity:0.7;

}

.balance{

background:rgba(255,255,255,0.15);
padding:8px 15px;
border-radius:20px;

}

.cards{

display:grid;
grid-template-columns:1fr 1fr;
gap:20px;

}

.card{

background:linear-gradient(135deg,#6a00ff,#b300ff);
padding:25px;
border-radius:20px;
box-shadow:0 10px 25px rgba(0,0,0,0.4);

}

.card h2{

margin:0;

}

.card p{

opacity:0.8;
margin-top:5px;

}

button{

margin-top:15px;
background:#00ff6a;
border:none;
padding:12px;
width:100%;
border-radius:10px;
font-weight:bold;
cursor:pointer;

}

button:hover{

transform:scale(1.03);

}

#result{

margin-top:25px;
text-align:center;
font-size:20px;

}

/* адаптация телефона */

@media(max-width:600px){

.cards{

grid-template-columns:1fr;

}

.header{

flex-direction:column;
gap:15px;

}

}
